body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #222;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #444;
    text-align: center;
}
